.contact {
    width: 100%;
    height: auto;
    padding: $separacion * 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     @include movil {
         padding: 0;
     }
    .grid {
        height: 250px;
        @include movil {
            height: 200px;
            &:nth-child(1) {
                grid-column-start: span 2;
            }
            &:nth-child(2) {
                grid-column-start: span 2;
            }
        }
        &:nth-child(3) {
            height: 100px;
            grid-column-start: span 2;
        }

        &.paragraphs {
            padding: 0 $separacion;
            .text {
                font-size: 5.3rem;
                font-family: $titulo;
                color: $blanco;
                text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
                font-weight: $semiBold;
                @include movil {
                    font-size: 3rem;
                }
            }
        }
        &.socials ul {
            @include social;
            a {
                color: $blanco;
                &:hover {
                    color: $amarillo;
                }
            }
        }
        &.info-contact {
            display: grid;
            place-items: center;
            .action {
                width: 40%;
                @include movil {
                    width: 100%;
                    padding-left: $separacion;
                }
                a{
                    color: $blanco;
                    display: flex;
                    justify-content: space-between;
                    transition: all .8s ease-out;
                    &:hover {
                        color: $amarillo;
                    }
                }
                i {
                    font-size: 3rem;
                    margin-right: 1rem;
                    margin-top: 1.7rem;
                }
                p {
                    flex: 1;
                    font-size: 2rem;
                }
            }
        }
    }
}