.header {
    position: relative;
    width: 100%;
    height: 100vh;

    //margin-top: -10px;
    video {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}

.layer {
    position: absolute;
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    background: $layer;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 0 $separacion;
    z-index: 1000;
    transition: top 1s ease-out;
    @include movil {
        padding: 0 $separacion / 4;
        background: $morado;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    }
    @include tablet {
        padding: 0 $separacion / 4;
        background: $morado;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    }
    .icon {
        width: 95%;

        img {
            width: 100px;
            height: 85px;
            object-fit: cover;

            @include movil {
                width: 6.5rem;
                height: 6.5rem;
            }
        }
    }

    .menu {
        width: 5%;
        display: grid;
        place-items: center;

        @include movil {
            width: 15%;
        }

        i {
            font-size: 2.8rem;
            color: $blanco;
            cursor: pointer;
            transition: all .8s;
            &:hover {
                color: $azulCielo;
            }
            @include movil {
                color: $amarillo;
            }
        }
    }

    #close {
        display: none;
    }
}

.title-header {
    width: 20%;
    margin-left: 20%;
    margin-top: 5%;

    @include movil {
        margin-left: 15%;
        margin-top: 30%;
    }

    @include tablet {
        margin-top: 30%;
    }

    h1 {
        font-size: 12rem;
        text-align: right;
        color: $blanco;
        font-family: $titulo;
        font-weight: $semiBold;
        line-height: 0.9;

        @include movil {
            font-size: 10rem;
        }

        @include tablet {
            font-size: 14rem;
        }

        @include monitor {
            font-size: 15rem;
        }
    }
}