.header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    //margin-top: -10px;
    video {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}

.layer {
    position: absolute;
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    background: $layer;
    display: flex;
    flex-direction: column;
}
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    //padding: $separacion / 2;
    padding: 0 $separacion;
    z-index: 100;
    /*background: #5945903f;
    backdrop-filter: blur(10px);*/
    @include movil {
        padding: 0;
    }
    .icon {
        width: 95%;
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            @include movil {
                width: 80px;
                height: 80px;
            }
        }
    }
    .menu {
        width: 5%;
        display: grid;
        place-items: center;
        @include movil {
            width: 15%;
        }
        i {
            font-size: 2.8rem;
            color: $blanco;
            cursor: pointer;
            //margin-top: $separacion - 2;
            //margin-right: $separacion / 3;
            transition: all .8s;
            &:hover {
                color: $azulCielo;
            }
        }
        .fa-times {
            display: none;
        }
    }
}
/*.anima-navbar {
    transition: all .5s ease-out;
    transform: translate3d(0px, -100%, 0px);
}*/
.title-header {
    width: 20%;
    margin-left: 20%;
    margin-top: 5%;
    @include movil {
        margin-left: 15%;
        margin-top: 50%;
    }
    @include tablet {
     margin-top: 30%;   
    }
    h1 {
        font-size: 12rem;
        text-align: right;
        color: $blanco;
        font-family: $titulo;
        font-weight: $semiBold;
        line-height: 0.9;
        @include movil {
            font-size: 10rem;
        }
        @include tablet {
            font-size: 10rem;
        }
        @include monitor {
            font-size: 15rem;
        }
    }
}