.portafolio {
    width: 100%;
    padding-bottom: 5rem;
    padding: 20rem .3rem;
    padding-bottom: 0;

    @include movil {
        padding: $separacion / 3 0;
    }

    .filter {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding: 2rem 0;
        padding-right: 7rem;

        @include movil {
            justify-content: center;
            padding: 0;
        }

        ul {
            display: flex;
            gap: 1rem;

            @include movil {
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                padding: 0 1rem;
                text-align: center;

            }

            li {
                font-size: 1.7rem;
                text-align: center;

                @include movil {
                    width: 30%;
                    font-size: 1.1rem;
                    font-weight: $semiBold;
                    border: 1px solid $blanco;
                    padding: 1rem;
                }
            }

            a {
                color: $blanco;
                padding-right: 1rem;
                font-weight: $semiBold;
                transition: all 0.5s ease-in-out;
                cursor: pointer;

                @include movil {
                    padding: 0;
                }

                &.active {
                    color: $amarillo;
                }

                &:hover {
                    color: $amarillo;
                }
            }

            span {
                color: $blanco;
                @include movil {
                    display: none;
                }
            }
        }
    }

    .img-portafolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .title-protafolio h1 {
        width: 60%;
        font-size: 4.3rem;
        letter-spacing: .3rem;
        color: $blanco;
        font-family: $titulo;
        padding-left: $separacion + 2;

        @include movil {
            width: 100%;
            font-size: 2rem;
            padding: 0 1rem 1rem 1rem;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include movil {
            margin-top: 3rem;
        }
        .grid {
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            padding-bottom: 1rem;
            display: none;

            @include movil {
                width: 95%;
                padding-left: .4rem;
            }

            &.mostrar-grid {
                display: inline-flex;
                @include movil {
                }
            }

            img {
                width: 49.6%;
                height: 650px;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

                @include movil {
                    width: 48%;
                    height: 250px;
                }

                object-fit: cover;
            }
        }
    }
}