.portafolio {
    width: 100%;
    padding-bottom: 5rem;

    .filter {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding: 2rem 0;
        padding-right: 5.3rem;

        ul {
            display: flex;
            gap: 1rem;

            li {
                font-size: 1.5rem;
            }

            a {
                color: $blanco;
                padding-right: 1rem;
                font-weight: $semiBold;
                transition: all 0.5s ease-in-out;
                cursor: pointer;
                &.active {
                    color: $up;
                }

                &:hover {
                    color: $up;
                }
            }

            span {
                color: $blanco;
            }
        }
    }

    .img-portafolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .title-protafolio h1 {
        width: 60%;
        font-size: 4.3rem;
        letter-spacing: .3rem;
        color: $blanco;
        font-family: $titulo;
        padding-left: $separacion + 2;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .grid {
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            padding-bottom: 1rem;
            display: none;
            &.mostrar-grid {
                display: inline-flex;
            }
            img {
                width: 49.6%;
                object-fit: cover;
            }
        }
    }
}