.services {
    position: relative;
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $separacion;

    @include movil {
        padding: 0 $separacion / 8;
        flex-wrap: wrap;
    }

    .title-services {
        position: relative;
        max-width: 60%;
        display: grid;
        place-items: center;

        @include movil {
            max-width: 100%;
            text-align: center;
        }

        h2 {
            color: $blanco;
            font-size: 7rem;
            line-height: 1;
            font-weight: $delgada;
            margin: 0;

            @include movil {
                font-size: 4.2rem;
                margin-bottom: $separacion - 3;
            }

            span {
                font-size: 8.3rem;
                font-weight: $semiBold;
                font-family: $textos;
                @include movil {
                    font-size: 4rem;
                    line-height: 1.8;
                }
            }
        }

        p {
            color: $blanco;
            font-size: 2rem;
            font-weight: 600;
            margin: $separacion 0;

            @include movil {
                display: none;
            }
        }

        a {
            color: $blanco;
            letter-spacing: 1.3px;
            font-size: 2rem;
            font-weight: $semiBold;
            border-radius: 20px;
            background: $morado;
            padding: 1rem $separacion;
            transition: all .4s ease-out;
            cursor: pointer;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

            &:hover {
                transform: scale(1.04);
                background: $footer;
            }
        }
    }

    .img-big {
        width: 60%;
        display: flex;
        justify-content: flex-end;
        z-index: 10;

        @include movil {
            width: 100%;
            margin-top: -20rem;
            justify-content: center;
        }

        img {
            max-width: 70%;
            max-height: 70%;
            object-fit: cover;

        }
    }

    .img-thumb {
        position: absolute;
        left: 20%;
        bottom: 3%;
        display: flex;

        @include movil {
            left: -9%;
        }

        li {
            display: inline-block;
            margin: 0 10px;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                transform: translateY(-15px);
            }
        }

        img {
            max-width: 60%;
            max-height: 100%;
            @include movil {
                max-width: 100%;
            }
        }
    }

    .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $rosa;
        clip-path: circle(400px at right 450px);
        transition: all .8 ease-out;
    }
}