.up {  
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 500;
    padding: $separacion / 4;
    border-radius: 50%;
    background: $up;
    box-shadow: 0 4px 6px 0 rgba(187, 129, 13, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    animation: up 1s ease-out infinite;
    transition: background .5 ease-out;
    &.invisible {
        display: none;
    }
    &:hover{
        background: $footer;
    }
    @keyframes up {
        50% {
            transform: translateY(-1rem);
        }
    }
    span {
        position: absolute;
        margin-left: -10rem;
        font-size: 1.5rem;
        color: $amarillo;
        font-weight: $semiBold;
        text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
        background: $up;
        padding: 1rem;
        border-radius: 10rem;
        display: none;
        @include movil {
            font-size: 1.3rem;
            margin-left: -2.5rem;
            margin-top: -5.5rem;
            display: block;
        }
    }
    &:hover {
        span{
            display: block;
        }
    }
    i {
        font-size: 3rem;
        text-decoration: none;
        color: $amarillo;
    }
}