html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: $textos;
    background-color: $grisOscuro;
    overflow-x: hidden;
} 
body::-webkit-scrollbar {
    width: 10px;
    background: $blanco;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $azulCielo;
}
