html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: $textos;
    background-color: $morado;
    //animation: background-body 5s ease-out infinite;
    overflow-x: hidden;
    transition: all 1s ease-in;
} 
@keyframes background-body {
    0% {
        background-color: $morado;
    }
    25% {
        background-color: $rosa;
    }
    50% {
        background: $azulCielo;
    }
}
body::-webkit-scrollbar {
    width: 10px;
    background: $blanco;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $azulCielo;
}
