//FONDO COMO IMAGEN
@mixin backgroundIMG($size) {
    background-size: $size;
    background-position: center;
    background-repeat: no-repeat;
}
//MEDIA QUERIES
//Monitor
@mixin monitor  {
    @media screen and(min-width: $monitor) {
        @content;
    }
}
@mixin movil {
    @media screen and(max-width: $movil){
        @content;
    }
}
@mixin  tablet {
    @media screen and(max-width: $tablet){
        @content;
    }
}