//FONDO COMO IMAGEN
@mixin backgroundIMG($size) {
    background-size: $size;
    background-position: center;
    background-repeat: no-repeat;
}
//MEDIA QUERIES
//Monitor
@mixin monitor  {
    @media screen and(min-width: $monitor) {
        @content;
    }
}
@mixin movil {
    @media screen and(max-width: $movil){
        @content;
    }
}
@mixin  tablet {
    @media screen and(max-width: $tablet){
        @content;
    }
}
@mixin social {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    padding: $separacion $separacion - 2 0 0;
    @include movil {
        justify-content: center;
        padding: 3rem 0 0 0;
    }
    @include monitor {
        padding: $separacion *3 $separacion - 2 0 0;
    }
    a {
        color: $transparente;
        font-size: 1.7rem;
        font-family: $titulo;
        &:hover {
            color: $blanco;
        }
        @include movil {
            font-size: 1.5rem;
            color: $blanco;
        }
        @include monitor {
            font-size: 2rem;
        }
    }
}