//TIPO DE LETRA
$titulo: 'Spectral', serif;
$textos: 'Roboto', sans-serif;
//COLORES
$rosa: #B22777;
$amarillo: #F6BB31;
$azulCielo: #6EB2BD;
$morado: #594590;
$moradoBlack: #342163;
$up: #5b37c7;
$layer: #5842948b;
$layerMenu: #352268cc;
$blanco: #FFFFFF;
$transparente: #ffffff86;
$grisOscuro: #2e2d2d;
$footer: #7049db;
//FUENTES
$delgada: 300;
$regular: 400;
$semiBold: 600;
//SEPARACIONES
$separacion: 5rem;
//MEDIA QUERIES
$movil: 767px;
$tabletH: 768px;
$tabletV: 1024px;
$monitor: 1680px;