//TIPO DE LETRA
$titulo: 'Spectral', serif;
$textos: 'Roboto', sans-serif;
//COLORES
$rosa: #B22777;
$amarillo: #F6BB31;
$azulCielo: #6EB2BD;
$morado: #594590;
$blanco: #FFFFFF;
$grisOscuro: #2e2d2d;
//FUENTES
$delgada: 300;
$regular: 400;
$semiBold: 600;