//TIPO DE LETRA
$titulo: 'Spectral', serif;
$textos: 'Roboto', sans-serif;
//COLORES
$rosa: #B22777;
$amarillo: #F6BB31;
$azulCielo: #6EB2BD;
$morado: #594590;
$layer: #58429462;
$blanco: #FFFFFF;
$grisOscuro: #2e2d2d;
//FUENTES
$delgada: 300;
$regular: 400;
$semiBold: 600;
//SEPARACIONES
$separacion: 5rem;
//MEDIA QUERIES
$movil: 767px;
$tablet: 768px;
$desktop: 1200px;